body {
    margin: 0;
    padding: 0;
}

.main-body{
    margin-left: 10%;
}

.navigation{
    background-color: #3b4a54;
    padding-bottom: 10px;
}

img.user{
    min-height: 75px;
    min-width: 75px;
    max-height: 80px;
    max-width: 80px;
    padding: 5px;
}

img.navigation{
    float: left;
}

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


ul {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    padding: 15px;
    width: 10%;
    background-color: #3b4a54;
    color: #88959e;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: left;
    min-width: 100px;
}

li a {
    display: block;
    color: #84858b;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    color: white;
}

li a:hover:not(.active) {
    color: white;
    transition: 0.4s;
}

div.body {
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
}

#dashboard {
    background: url(backgrounds/dashboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project {
    background: url(backgrounds/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sprint {
    background: url(backgrounds/sprint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#task {
    background: url(backgrounds/task.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#team {
    background: url(backgrounds/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-box {
    text-align: right;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.header-box h1 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin-top: 0;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 200px;
    color: white;
}

div.header {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin-left:16%;
    top: 0;
    display: block;
    background: #f9fbfd;
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 15px;
    position: sticky;
}

img.user {
    margin-top: 0;
    float: right;
    padding-left: 15px;
    padding-right: 10px;
    display: inline-block;
    align-self: bottom;
}

.yellow{
    background-color: #ffe066;
}

.red{
    background-color: red;
    color: white;
}

.white {
    background-color: white;
}

.green{
    background-color: #66ff33;
}

footer {
    text-align: right;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
    height:25px;
    background:#3b4a54;
}

tr:hover {

    background-color: #ffd9ed;
}

th {

    color: white;
    background-color: #FD038A;
}

/*
    Style for logout
 */
.logout {
    text-align: right;
}

.logout a {
    color: #84858b;
}

.logout a:hover {
    color: #FD038A;
    text-decoration: underline;
}


/*
    Style for welcome message
*/
.welcome {
    padding: 5px;
    padding-left: 20px;
    text-align: right;
}

.welcome p {
    color:  #FD038A;
}