body {
    margin: 0;
    padding: 0;
}

.main-body{
    margin-left: 250px;
    margin-bottom: 100px;
    background-color: #fafafa;
    background: url(backgrounds/background.jpg);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 450px;

}

.update-body{
    margin-left: 250px;
    margin-bottom: 100px;
    padding-top: 85px;
    padding-bottom: 500px;
    background-color: #fafafa;
    background: url(backgrounds/background.jpg);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100%;

}

.top-navigation{
    background-color: #3b4a54;
    padding-bottom: 10px;
    position: fixed;
    font-weight: bold;
    width: 100%;
    height: 85px;
    z-index: 8;
}

img.user{
    min-height: 73px;
    min-width: 85px;
    max-height: 80px;
    max-width: 80px;
    padding: 6px;
}

img.navigation-sprite{
    float: left;
    padding: 5px;
}

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

ul {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    padding: 15px;
    width: 10%;
    min-width: 250px;
    background-color: #3b4a54;
    color: #88959e;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: left;
    z-index: 9;
}

li a {
    display: block;
    color: #84858b;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: white;
    transition: 0.4s;
    text-decoration: none;
}

div.body {
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
}

#dashboard {
    background: url(backgrounds/dashboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}


#project {
    background: url(backgrounds/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

#sprint {
    background: url(backgrounds/sprint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-width: 100%;
}

#task {
    background: url(backgrounds/task.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

#team {
    background: url(backgrounds/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

.header-box {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    font-size: 50px;
}

.header-box h1 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    text-align: right;
    margin-top: 0;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 200px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


div.header {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin-left:16%;
    top: 0;
    display: block;
    background: #f9fbfd;
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 15px;
    position: sticky;
}

img.user {
    margin-top: 0;
    float: right;
    padding-left: 15px;
    padding-right: 10px;
    display: inline-block;
    align-self: bottom;
}

.title-box {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    height: 100px;
    width: 300px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container.text-center {
    width: 70%;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container.updatetext-center {
    margin-top: 200px;
    width: 70%;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.container.invisible-at-first {
    padding: 30px;
}

.user {
    padding-top: 20px;
}

.admin {
    padding-top: 20px;
}

.yellow{
    background-color: #FDF303;
}                                                                                                                                       

.red{
    background-color: #FD030D;
    color: white;
}

.white {
    background-color: white;
}

.green{
    background-color: #8AFD03;
}

footer {
    text-align: right;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
    height:25px;
    background:#3b4a54;
}

/*
Style for the tables
 */



tr:hover {

    background-color: #ffd9ed;
}

th {

    color: white;
    background-color: #FD038A;
}

/*
    Style for logout
 */

.logout {
    text-align: right;
}

.logout a {
    color: #84858b;
}

.logout a:hover {
    color: #FD038A;
    text-decoration: underline;
}


/*
    Style for welcome message
*/
.welcome {
    padding: 5px;
    padding-left: 20px;
    text-align: right;
}

.welcome p {
    color:  #FD038A;
}

.new-buttons {
    padding-left: 16%;
}

/*
<<<<<<< HEAD
    Style for view tasks page
 */
/*=======
style for the dashboard strip
 */

.status-strip {
    text-align: center;
    margin-bottom: 20px;
}

.status-box {
    margin: 10px;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    height: 100px;
    width: 350px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    color: white;
    padding: 20px;
}

#completed {
    background-color: green;
}

#overdue {
    background-color:  #FD030D;
}

#pending {
    background-color: blue;
}

#thc {
    background-color: orange;
}


