<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />

    <title>Task Manager | Home</title>

    <link rel="stylesheet" type ="text/css" th:href="@{css/bootstrap.min.css}"  />
    <link rel="stylesheet" type ="text/css"  th:href="@{css/style.css}" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<ul>
    <img class="logo" src="images/logo2.png" title="&quot;Do It Logo&quot;"/>
    <!--<li><span><img class="navigation" src="webapp/static/images/sidebar/dashboard.png"/><a href="/dashboard.html">Dashboard</a></span></li>
    <li><img class="navigation" src="webapp/static/images/sidebar/projectactive.png"/><a class="active" href="/projects.html">Projects</a></li>
    <li><img class="navigation" src="webapp/static/images/sidebar/sprint.png"/><a href="/sprints.html">Sprints</a></li>-->
    <li><img class="navigation" src="webapp/static/images/sidebar/task.png"/><a href="/all-tasks">Tasks</a></li>
    <!--<li><img class="navigation" src="webapp/static/images/sidebar/team.png"/><a href="/teams.html">Teams</a></li>-->
 </ul>


 </body>
 </html>