<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />


    <title>DoIt! | Dashboard</title>


    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/style.css}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body>
<div class="navigation">
    <div class = "top-navigation">
    <div class="welcome">
        <p style="display:inline">Welcome </p><p style="display:inline" th:text="${username}"></p>
        <img class="user" src="/images/user.png"/>
    </div>
    <div class="logout">
        <form action="/login">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
    </div>

    <ul>
        <img class="logo" src="../images/logo2.png" title="&quot;Do It Logo&quot;"/>
        <li><img class="navigation-sprite" src="/images/sidebar/dashboardactive.png"/><a class ="active" href="/dashboard">Dashboard</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/project.png"/><a  href="/projects">Projects</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/sprint.png"/><a href="/sprints">Sprints</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/task.png"/><a href="/tasks">Tasks</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/team.png"/><a href="/teams">Teams</a></li>
    </ul>
</div>

<div class="main-body">

    <div id="dashboard" class="header-box">
        <h1>My Dashboard</h1>
    </div>

<div class="container invisible-at-first" id="homeDiv">
</div>
    <!--
     ====== status box things feel free to make these better =====
 -->
    <div class='status-strip'>
        <div class='status-box' id='completed'>

            <h3>Tasks Completed</h3>

            <p th:text="${numTasksDone}"></p>

        </div>

        <div class='status-box' id='overdue' >
            <h3>Tasks Overdue</h3>
            <p th:text="${numTasksOverdue}"></p>
        </div>

        <div class='status-box' id='pending'>
            <h3>Tasks Pending</h3>
            <p th:text="${numTasksPending}"></p>
        </div>

        <div class='status-box' id='thc'>
            <h3>Total Hours Contributed</h3>
            <p th:text="${totalHoursContributed}"></p>
        </div>

    </div>


    <!-- ====== status box things end =====  -->
<div class="container text-center" id="tasksDiv">
    <hr />




    <div class="table-responsive">
        <table class="table table-responsive table-striped text-left">
            <thead>
            <h4> Completed Tasks </h4>
                <tr>

            </tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Hours Estimated</th>
                <th>Hours Contributed</th>
                <th>Project ID</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
            <tr th:if="${task.status}=='completed'">
                <td th:text="${task.taskID}">1</td>
                <td th:text="${task.name}">1</td>
                <td th:text="${task.description}">1</td>
                <td th:text="${task.status}" th:class="${task.status}=='pending' ? 'yellow' : (${task.status}=='overdue' ? 'red' : (${task.status}=='completed' ? 'green' : 'white'))">1</td>
                <td th:text="${task.hours_estimated}">1</td>
                <td th:text="${task.hours_contributed}">1</td>
                <td th:text="${task.projectID}">1</td>
                <td><a th:href="@{view-task(id=${task.taskID})}"><span class="glyphicon glyphicon-eye-open"></span></a></td>

            </tr>
            </tr>
            </tbody>
        </table>


    </div>
</div>

</div>



<!--<script th:src="@{js/jquery-1.11.1.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<script src="bootstrap.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
<footer>
    <p>&copy; Copyright 2018. DoIt Ltd. All rights reserved. DoIt is a registered trademark. No content may be downloaded for commercial or non-commercial usage.</p>
</footer>
</html>