<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />

    <title>DoIt! | Teams</title>

    <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300}" rel="stylesheet" />
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" rel="stylesheet" />
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />



    <link th:href="@{css/style.css}" rel="stylesheet" />
    <!--<link th:href="@{css/teams.css}" rel="stylesheet" />-->

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="test3.js"></script>


    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="bootstrap.min.js"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />


</head>
<body>
<div class="header">
    <div class="logo">
        <i class="fa fa-cogs"></i>
        <span>DO IT</span>
    </div>
    <a href="#" class="nav-trigger"><span></span></a>
</div>
<div class="side-nav">
    <div class="logo">
        <i class="fa fa-cogs"></i>
        <span>DO IT</span>
    </div>
    <nav>
        <img class="logo-image" src="../images/logo2.png" title="&quot;Do It Logo&quot;"/>
        <ul>
            <li>
                <a href="/dashboard">
                    <span><i class="fa fa-dashboard"> </i></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/projects">

                    <span><i class="fa fa-folder"></i></span>
                    <span>Project</span>
                </a>
            </li>
            <li class="active">
                <a href="/sprints">
                    <span><i class="fa fa-play"></i></span>
                    <span>Sprints</span>
                </a>
            </li>
            <li>
                <a href="/tasks">
                    <span><i class="fa fa-tasks"></i></span>
                    <!-- <span>Task</span> -->
                    <span id="link">Tasks</span>
                </a>
            </li>
            <li>
                <a href="/teams">
                    <span><i class="fa fa-group"></i></span>
                    <span id="link">Teams</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="container invisible-at-first" id="homeDiv">
    <div class="jumbotron text-center">
        <h2>Create a new Team Member</h2>
    </div>
</div>
<div class="container text-center">
    <h3>New Member</h3>
    <form class="form-horizontal" method="POST" action="update-team">
        <input type="hidden" name="teamID" th:value="${member.teamID}"/>
        <div class="form-group">
            <label class="control-label col-md-3">Name:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="name" th:value="${member.name}"/>
            </div>
            <label class="control-label col-md-3">Telephone number:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="telephone" th:value="${member.telephone}"/>
            </div>
            <label class="control-label col-md-3">Email:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="email" th:value="${member.email}"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>