<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />

    <title>Task Manager | Home</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/style.css}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div role="navigation">
    <div class="navbar navbar-inverse">

        <div class="welcome">
            <p style="display:inline">Welcome </p><p style="display:inline" th:text="${username}"></p>
        </div>

        <div class="logout">
            <a href="/login">Log out</a>
            <img class="user" src="/images/user.png"/>
        </div>

        <a href="/" class="navbar-brand">DoIt!</a>
        <div class="navbar-collapse collapse">
            <ul>
                <img class="logo" src="/images/logo2.png" title="&quot;Do It Logo&quot;"/>
                <li><img class="navigation" src="/images/sidebar/dashboard.png"/><a href="/dashboard">Dashboard</a></li>
                <li><img class="navigation" src="/images/sidebar/projectactive.png"/><a class="active" href="/projects">Projects</a></li>
                <li><img class="navigation" src="/images/sidebar/sprint.png"/><a href="/sprints">Sprints</a></li>
                <li><img class="navigation" src="/images/sidebar/task.png"/><a href="/tasks">Tasks</a></li>
                <li><img class="navigation" src="/images/sidebar/team.png"/><a href="/teams">Teams</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container invisible-at-first" id="homeDiv">
    <div class="jumbotron text-center">
        <h2>Create a new project</h2>
    </div>
</div>

<!--some html here to make the form appear for editing the task-->
<div class="container text-center">
    <h3>New Project</h3>
    <form class="form-horizontal" method="POST" action="save-task">

        <div class="form-group">
            <label class="control-label col-md-3">Project ID</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="projectID"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Title</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="title" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Description</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="description" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Start Date</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="start_date"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">End Date</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="end_date"/>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </form>
</div>

<!--<script th:src="@{js/jquery-1.11.1.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<script src="bootstrap.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
<footer>
    <p>&copy; Copyright 2018. DoIt Ltd. All rights reserved. DoIt is a registered trademark. No content may be downloaded for commercial or non-commercial usage.</p>
</footer>
</html>