<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />

    <title>DoIt! | Teams</title>




    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/teams.css}" rel="stylesheet" />


    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>


<body>

<div class="navigation">
    <div class = "top-navigation">
    <div class="welcome">
        <p style="display:inline">Welcome </p><p style="display:inline" th:text="${username}"></p>
        <img class="user" src="/images/user.png"/>
    </div>
    <div class="logout">
        <form action="/login">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
    </div>

    <ul>
        <img class="logo" src="../images/logo2.png" title="&quot;Do It Logo&quot;"/>
        <li><img class="navigation-sprite" src="/images/sidebar/dashboard.png"/><a href="/dashboard">Dashboard</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/project.png"/><a  href="/projects">Projects</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/sprint.png"/><a href="/sprints">Sprints</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/task.png"/><a href="/tasks">Tasks</a></li>
        <li><img class="navigation-sprite" src="/images/sidebar/teamactive.png"/><a class ="active" href="/teams">Teams</a></li>
    </ul>
</div>

<div class="main-body">


    <div id="team" class="header-box">
        <h1>Teams</h1>
    </div>




    <!--

    ================MY TEAM==================

     Viewable to user
     -->

    <div class="user">
        <div class="container invisible-at-first" id="homeDiv">
            <div class="title-box">
                <h2>My Team</h2>
            </div>

        </div>
        <div class='new-buttons1' th:if="${isAdmin}">

            <form action="/new-team">
                <input type="submit" value="New Team"/>
            </form>
            <form action="/update-teams">
                <input type="submit" value="Edit Team"/>
            </form>

        </div>
    <div class="flex-container">
        <div class="limiter">
            <div class="team-ID">
            <h3>Team Number: </h3><h3 th:text ="${myteamID}"></h3><br/>
            </div>
            <h4 th:text = "${myproject.title}"></h4><br/>
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Name</th>
                                    <th class="cell100 column2">Telephone</th>
                                    <th class="cell100 column3">Email</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll" th:each = "member: ${myteam}">
                            <table>
                                <tbody>
                                <tr class="row100 body">
                                    <td class="cell100 column1" th:text="${member.name}">1</td>
                                    <td class="cell100 column2" th:text="${member.telephone}">1</td>
                                    <td class="cell100 column3" th:text="${member.email}">1</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!--

    ================ALL TEAMS==================

    Viewable to admin
    -->

    <div class="container invisible-at-first" id="homeDiv" >
        <div class="title-box">
            <h2>All Teams</h2>

    </div>
    </div>

    <div class="admin">
    <div class="flex-container">
        <div class="limiter" th:each = "team : ${teams}">
            <div class="team-ID">
            <h3>Team Number:</h3><h3 th:text = "${team.teamID}"></h3><br/>
            </div>
            <h4>[Thyme Leaf - Project name goes here]</h4><br/>
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Name</th>
                                    <th class="cell100 column2">Telephone</th>
                                    <th class="cell100 column3">Email</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll" th:each = "member : ${members}">
                            <table>
                                <tbody>
                                <tr class="row100 body" th:if = "${member.teamID == team.teamID}">
                                    <td class="cell100 column1" th:text="${member.name}">[Thyme Leaf - Member name goes here]</td>
                                    <td class="cell100 column2" th:text="${member.telephone}">[Thyme Leaf - Member number goes here]</td>
                                    <td class="cell100 column3" th:text="${member.email}">[Thyme Leaf - Member email goes here]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

<!--<script th:src="@{js/jquery-1.11.1.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<script src="bootstrap.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
<footer>
    <p>&copy; Copyright 2018. DoIt Ltd. All rights reserved. DoIt is a registered trademark. No content may be downloaded for commercial or non-commercial usage.</p>
</footer>
</html>