<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />

    <title>Task Manager | Home</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <script th:href="@{js/task.js}"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>



<div role="navigation">
    <div class="navbar navbar-inverse">

        <div class="welcome">
            <p style="display:inline">Welcome </p><p style="display:inline" th:text="${username}"></p>
        </div>

        <div class="logout">
            <a href="/login">Log out</a>
            <img class="user" src="/images/user.png"/>
        </div>

        <a href="/" class="navbar-brand">DoIt!</a>
        <div class="navbar-collapse collapse">
            <ul>
                <img class="logo" src="../images/logo2.png" title="&quot;Do It Logo&quot;"/>
                <li><img class="navigation" src="/images/sidebar/dashboard.png"/><a href="/dashboard">Dashboard</a></li>
                <li><img class="navigation" src="/images/sidebar/project.png"/><a  href="/projects">Projects</a></li>
                <li><img class="navigation" src="/images/sidebar/sprint.png"/><a href="/sprints">Sprints</a></li>
                <li><img class="navigation" src="/images/sidebar/taskactive.png"/><a class ="active" href="/tasks">Tasks</a></li>
                <li><img class="navigation" src="/images/sidebar/team.png"/><a href="/teams">Teams</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container invisible-at-first" id="homeDiv">
    <div class="jumbotron text-center">
        <h2>Welcome to DoIt task manager! JUST DO IT!</h2>
    </div>
</div>

<!--some html here to make the form appear for editing the task-->
<div class="container text-center">
    <h3>Edit Task</h3>
    <form class="form-horizontal" method="POST" action="save-task">
        <input type="hidden" name="taskID" th:value="${task.taskID}"/>
        <input type="hidden" name="projectID" th:value="${task.projectID}"/>
        <div class="form-group">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-7">
                <input id="name" type="text" class="form-control" name="name" th:value="${task.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Description</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="description" th:value="${task.description}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Person assigned(Enter username)</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="username" th:value="${task.username}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Status</label>
            <div class="col-md-7" id="statusbar">
                <select name ="status" th:value="${task.status}">
                    <option type="text" class="form-control" name="status">Choose from the following:</option>
                    <option value="pending">Pending</option>
                    <option value="on-going">On-going</option>
                    <option value="completed">Completed</option>
                    <option value="overdue">Overdue</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Hours Estimated</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="hours_estimated" th:value="${task.hours_estimated}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Hours Contributed</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="hours_contributed" th:value="${task.hours_contributed}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Sprint ID</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="sprintID" th:value="${task.sprintID}"/>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3">Start Date</label>
            <div class="col-md-7">
                <input type="datetime-local" class="form-control" name="start_date" th:value="${task.start_date}"/>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3">End Date</label>
            <div class="col-md-7">
                <input type="datetime-local" class="form-control" name="end_date" th:value="${task.end_date}"/>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </form>
</div>


<!--<script th:src="@{js/jquery-1.11.1.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<script src="bootstrap.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
<footer>
    <p>&copy; Copyright 2018. DoIt Ltd. All rights reserved. DoIt is a registered trademark. No content may be downloaded for commercial or non-commercial usage.</p>
</footer>
</html>